.about-container{
    width:100%;
    height:100vh;
    padding-top:15vh;
    box-sizing: border-box;  
    hr {
      width: 50vw;
      background-color:#E69A8DFF;
      height: 3px;
      border-radius: 3px;
      @include tablet{
        display: none;
      }
    }
  }
  .about{
    width: 70vw;
    margin:0px auto 60px;
  }
  .skills{
    width: 70vw;
    margin: 40px auto 100px;
  }
  h1{
    font-size: 25px;
    font-family: 'Merriweather', serif;
  }
  p{
    font-size: 20px;
  }
  
  .skills-list{
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0px 20px;
    box-sizing: border-box;
  
    li{
      margin: 30px auto;
    }
    @include phone{
      
      flex-wrap: wrap;
      li{
        width: 50px;
        margin:0px;
      }
    }
  
  }
 



  @include tablet{
    .about-container{
      padding-top: 10vh;

    }
    
    .about, .skills{
      width: 100%;
      padding: 0 20px;
      box-sizing: border-box;
      margin:0px auto;
    }
    h1{
      font-size: 24px;
    }
    p{
      font-size: 16px;
    }
    .skills-list{
      li{
        margin: 10px auto;
      }
    }
    
  };

@include phone{
   .skills-list{
    li{
      margin: 5px auto;
    }
 }
}
 @include sphone{
   h1{
     font-size: 20px;
   }
   p{
     font-size: 14px;
   }
   .skills-list{
     li{
      margin: 0px auto;
    }
   }
      
}