.projects-container{
    width:100%;
    padding-top:10vh;
    box-sizing: border-box;
    h1{
      margin-bottom: 50px;
    }
    hr {
      width: 50vw;
      background-color:#E69A8DFF;
      height: 3px;
      border-radius: 3px;
      margin: 50px auto;
    }
  }
.project{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    @include tablet{
      flex-direction: column;
      justify-content: center;
    }
    
}

.project-image{
  width: 45%;
  box-shadow: 0px 0px 11px 0px rgb(167, 167, 167);
  @include tablet{
    width: 100%;
    box-shadow:none;
    padding: 0 30px;
    box-sizing: border-box;
    
  }

}
#image{
  width: 100%;
}
.project-info{
  width: 45%;
  text-align: left;
  @include tablet{
    width: 100%;
    padding: 0 40px;
    box-sizing: border-box;
  }
  .external-links{
    display: flex;
    align-items: center;
    justify-content: center;        
  }   
}
