//breakpoints
  $sphone: 390px;
  $phone:585px;
  $tablet:920px;

@mixin tablet {
    @media (max-width: #{$tablet}) {
      @content;
    }
  }
  @mixin phone {
    @media (max-width: #{$phone}) {
      @content;
    }
  }
  @mixin sphone {
    @media (max-width: #{$sphone}) {
      @content;
    }
  }